<section>
<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card form-control">
                <div class="card-body">

                    <div class="container">
                        <form [formGroup]="form" *ngFor="let product of _product_service.productData"
                            (ngSubmit)="updateProduct()">

                            <img src="assets/img/product.svg" class="logo">
                            <h3 class="form-title">Manage Product</h3>



                            <p>Product Name <span class="text-danger">*</span></p>

                            <input type="text" placeholder="Name" class="form-control" formControlName="name"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" ngModel="{{product.name}}" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Product Name is required</div>
                            </div>

                            <br>


                            <p>Product Price <span class="text-danger">*</span></p>

                            <input type="number" placeholder="Price" class="form-control" formControlName="price"
                                [ngClass]="{ 'is-invalid': submitted && f.price.errors }" ngModel="{{product.price}}" />
                            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                <div *ngIf="f.price.errors.required">Product Price is required</div>

                            </div>

                            <br>
                            <div class="rows float-right">
                                <button type="button" class="btn btn-light" (click)="backPage()">
                                    <i class="fa fa-times"></i> Cancel</button>

                                <button class="btn btn-danger" data-toggle="modal"
                                    data-target="#confirm_modal" (click)="deleteProduct(product.id)"><i
                                        class="fa fa-trash"></i> Delete</button> 


                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>


                            </div>
                        </form>
                    </div>



                </div>
            </div>
        </div>
        <!-- <div class="col-md-6"></div> -->
    </div>
</div>
<!-- Confirm modal -->
<app-confirm-modal [paramProduct]="{id:product_id}"></app-confirm-modal>
<!-- Alert modal -->
<app-alert-modal [paramMessage]="alert"></app-alert-modal>
</section>